@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

a {
  @apply text-primary-300 hover:text-primary-200 transition-colors;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #124dff, #3c73ff);
  border-radius: 9999px;
}
